.intro {
    background-image: url("images/polyhedrongs.jpg#");
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
}
.flex {

}

.typedElements {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
}

.typed{
    color: #424242;
    font-size: 4em;
    display: inline-block;
    font-family: 'Fahkwang', sans-serif;
}

#cursor {
    color: goldenrod;
    font-size: 2em;
    display: inline-block;
    animation-name: flash;
    animation-duration: 0.3s;
    animation-iteration-count: infinite;
}
#bloodycursor {
    height: 10px;
    width: 2px;
    background-color: white;
}
#firstOne{
    animation-name: glow;
    animation-duration: 3s;
    animation-iteration-count: 1;
}

#nextOne {
    animation-name: glowagain;
    animation-duration: 6s;
    animation-iteration-count: 1;   
}

#lastOne {
    animation-name: finalglow;
    animation-duration: 6s;
    animation-iteration-count: 2;
}
@keyframes flash {
 0% {opacity: 1;}
    50% {opacity: 0;}
    100% {opacity: 1;}
}
 @keyframes glow {
     0% {text-shadow: 0px;}
     60% {text-shadow: 4px 4px 10px grey;}
     100% {text-shadow: 0px;}
 }
 @keyframes glowagain {
    0% {text-shadow: 0px;}
    60% {text-shadow: 1px 1px 3px palegoldenrod;}
    80% {text-shadow: 2px 2px 5px palegoldenrod;}
    100% {text-shadow: 0px;}
}
@keyframes finalglow {
    0% {text-shadow: 0px;}
    60% {text-shadow: 2px 2px 5px palegoldenrod;}
    100% {text-shadow: 0px;}
}
nav {
    height: 5em;
    width: 100%;
    background-color: white;
    display:none;
}

button {
    height: 3em;
    width: 7em;
    align-self: flex-end;
    position: absolute;
    margin-bottom: 100px;
    display: none;
    background-color:  #eef1f7;
    border-color:#424242;
    color:#424242;
    font-style: bold;
    font-family: 'Fahkwang', sans-serif;
    font-size: 1em;
    border-radius: 45%;
    box-shadow: 1px 1px 5px grey;
}

@keyframes animate-drop {   
    0% {opacity:0;transform: translate(0, -315px);}
    100% {opacity:1;transform: translate(0, 0);}
}

.section{
height: 50%;
width: 100%;
display: inline-grid;
grid-template-rows: 1fr 2fr 2fr;
grid-template-columns: 1fr 1fr 1fr 1fr;
border-style: groove;
border-width: 0.5em;
border-color: #d0d8f0;
    }
    #about {
        background-color:#d0d8f0;
    }
    #projects {
        background-color:#6F8293;
    }
    #contact {
        background-color:#646D71;
    }
#banner {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: #b7b1f5;
    border-style: groove;
    border-width: 0.5em;
    border-color: #d0d8f0;
    grid-gap: 10px;
}
#pic {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 4;
 
}
        #mypic {
                height: 10em;
                border-radius: 20%;
              }
        
#text {
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;

}
#textlist {
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 4;
    
}
