.intro {
    background-image: url("images/starrysky.jpg");
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex {

}

.typedElements {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
}

.typed{
    color:goldenrod;
    font-size: 2em;
    display: inline-block;
    font-family: 'Fahkwang', sans-serif;
}

#cursor {
    color: goldenrod;
    font-size: 2em;
    display: inline-block;
    animation-name: flash;
    animation-duration: 0.3s;
    animation-iteration-count: infinite;
}
#bloodycursor {
    height: 10px;
    width: 2px;
    background-color: white;
}
#firstOne{
    animation-name: glow;
    animation-duration: 2s;
    animation-iteration-count: 1;
}

#nextOne {
    animation-name: glowagain;
    animation-duration: 6s;
    animation-iteration-count: 1;   
}

#lastOne {
    animation-name: finalglow;
    animation-duration: 6s;
    animation-iteration-count: 2;
}
@keyframes flash {
 0% {opacity: 1;}
    50% {opacity: 0;}
    100% {opacity: 1;}
}
 @keyframes glow {
     0% {text-shadow: 0px;}
     60% {text-shadow: 2px 2px 5px palegoldenrod;}
     100% {text-shadow: 0px;}
 }
 @keyframes glowagain {
    0% {text-shadow: 0px;}
    60% {text-shadow: 1px 1px 3px palegoldenrod;}
    80% {text-shadow: 2px 2px 5px palegoldenrod;}
    100% {text-shadow: 0px;}
}
@keyframes finalglow {
    0% {text-shadow: 0px;}
    60% {text-shadow: 2px 2px 5px palegoldenrod;}
    100% {text-shadow: 0px;}
}
nav {
    height: 5em;
    width: 100%;
    background-color: white;
    display:none;
}

button {
    height: 3em;
    width: 8em;
    align-self: flex-end;
    position: absolute;
    margin-bottom: 100px;
    display: none;
    background-color:  rgb(243, 233, 120);
    border-color: goldenrod;
    color: rgb(134, 99, 9);
    font-style: bold;
    font-family: 'Fahkwang', sans-serif;
    font-size: 2em;
    border-radius: 45%;
    box-shadow: 1px 1px 5px palegoldenrod;
}

@keyframes animate-drop {   
    0% {opacity:0;transform: translate(0, -315px);}
    100% {opacity:1;transform: translate(0, 0);}
}

.section{
height: 20%;
width: 100%;
display: none;
    }
    #about {
        background-color:#3A434D;
    }
    #projects {
        background-color:#6F8293;
    }
    #contact {
        background-color:#646D71;
    }